

<div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                        <div class="single_footer">
                            <h4>EN SAVOIR PLUS</h4>
                            <ul>
                                <li>Privacy
       </li>
                                <li>   CGV
        </li>
                                <li>      Ressources
 </li>
                                     <li><a href="#"><i class="fa fa-gavel fa-lg" aria-hidden="true"></i> RGPD</a></li>

                                <li><a href="#"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> Contact</a></li>
                            </ul>
                        </div>
                    </div><!--- END COL -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single_footer single_footer_address">
                            <h4>DÉCOUVRIR</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-blog fa-lg" aria-hidden="true"></i> Le blog</a></li>
                                <li><a href="#"><i class="fa fa-smile fa-lg" aria-hidden="true"></i> Qui sommes nous</a></li>
                                <li>
                                
 Recrutement
        </li>


                                <li><a href="https://www.rocketlead.online/sitemap.xml"><i class="fa fa-sitemap fa-lg" aria-hidden="true"></i> SiteMap</a></li>
<li><a href="https://github.com/CharlesCamille"><i class="fab fa-github  fa-lg" aria-hidden="true"></i> Pour les développeur</a></li>
                            </ul>
                        </div>
                    </div><!--- END COL -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single_footer single_footer_address">
                            <h4>Nous suivre</h4>
                        </div>
                        <div class="social_profile">
                            <ul>
                                <li><a href="https://www.youtube.com/channel/UCLLpTWeTuqmyfidhLn8H5nA/featured"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/charles-camille-a44684b4"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://twitter.com/rocketlead_"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/rocket_lead/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div><!--- END COL -->
                </div><!--- END ROW -->


<!-- charles -->

               <div class="row">
           
                   
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="single_footer single_footer_address">
                            <div class="headerb">
    <%= image_tag "stripe-cards.png"%>
    </div>   

                        </div>
                    </div><!--- END COL -->
<div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="">
<iframe width="540" height="305" src="https://75ab97d5.sibforms.com/serve/MUIEAL2WAkgFIvhwSpq5eJzOLdHqUtm6Y415w5tPNw6egWE4nyy0Cv435ked1Jw8xABon84KNuvNNiJEXgD6qrr9EhsyUhxCVs4PdHT-cqxL6aN5vu9GgtEysH0Q4Y0rXZF_A3j3LoPJaVGZFaETRY5IABvy6fmOGbq3TxJ3wXfNEk5uYjIa9tiaYx-s9ZCYRILr-mrf-h_yHYkv" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
 </div><!--- END COL -->
                       
                    </div><!--- END COL -->
                </div><!--- END ROW -->
<!-- charles -->


<!-- charles -->


                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">

                        <p class="copyright"><i class="fa fa-thumbs-up"></i> Copyright@<%= Time.now.year %>, une application DataWolfConsulting</p>
                    
                    </div><!--- END COL -->
                </div><!--- END ROW -->
            </div><!--- END CONTAINER -->
        </div>
       