.footer {
  background: #2564cc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 10px;
  width:100%;
  
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.45;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

a:hover{
text-decoration: none;
opacity:0.8;

}

@media (max-width: 768px) {
  .footer-copyright {
    display: none;
  }
}

a {
  text-decoration: none;
  }


